@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "variables.scss";
@import "mixin.scss";
html {
    font-size: 62.5%;
    width: 100%;
}

body {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.8;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "Yu Gothic", YuGothic, sans-serif;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    color: $color3;
}

ul {
    list-style: none;
}

#lp_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    .lp_header_logo {
        line-height: 1;
        margin-right: $sizeUnit * 5;
        @media only screen and (max-width: $breakpoint-sp) {
            margin-right: 0;
            img{
                width: 130px;
            }
        }
    }
    nav {
        font-size: 12px;
        @media only screen and (max-width: $breakpoint-sp) {
            margin-left: auto;
        }
        ul {
            display: flex;
            align-items: flex-end;
            padding-top: 7px;
            li {
                margin-right: $sizeUnit * 3;
                line-height: 1;
                a:link,
                a:visited{
                    color: $color3;
                    text-decoration: none;
                }
                @media only screen and (max-width: $breakpoint-sp) {
                    margin: 0 0 0 $sizeUnit * 3;
                }
            }
        }
    }
    .lp_btn_contact {
        background: $color2;
        border: none;
        padding: $sizeUnit $sizeUnit * 2;
        color: #FFF;
        border-radius: 40px;
        margin-left: auto;
        font-size: 1.2rem;
        display: none;
        box-sizing: border-box;
        text-decoration: none;
    }
    .lp_logo_w {
        display: block;
    }
    .lp_logo_b {
        display: none;
    }
    .lp_header_wrap {
        display: flex;
        align-items: center;
        max-width: calc(#{$maxWidth} - #{$sizeUnit * 4});
        margin: 0 auto;
        padding: $sizeUnit * 3;
    }
    &.isFixed {
        background: #FFF;
        box-shadow: 1px 0px 5px 3px rgba(#000, 0.1);
        //なぜかbox-shadowとfixedを合わせて使うとテキストがボケるので対策
        @media only screen and (max-width: $breakpoint-sp) {
            filter: drop-shadow(1px 0px 5px rgba(0,0,0,0.2));
            box-shadow: none;
        }
        nav {
            color: $color3;
            @media only screen and (max-width: $breakpoint-sp) {
                margin-left: 0;
                li{
                    margin-left: 0;
                    margin-right: $sizeUnit * 3;
                }
            }
        }
        img {
            fill: $color3;
        }
        .lp_logo_w {
            display: none;
        }
        .lp_logo_b {
            display: block;
        }

        .lp_header_logo{
            @media only screen and (max-width: $breakpoint-sp) {
                display: none;
            }
        }
        .lp_btn_contact {
            display: block;
        }
        
    }
}

.lp_main_img {
    position: relative;
    background: url(./assets/images/img_main.png) center bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 590px;
    box-sizing: border-box;
    color: #FFF;
    @media only screen and (max-width: $breakpoint-sp) {
        height: 450px;
        background-position: center bottom;
    }
    .lp_main_img_wrap {
        max-width: $maxWidth;
        margin: 0 auto;
        text-align: center;
        padding-top: $sizeUnit * 16;

        @media only screen and (max-width: $breakpoint-sp) {
            padding: $sizeUnit * 12  $sizeUnit * 3 0;
        }
    }
    .lp_main_copy {
        margin-bottom: $sizeUnit * 2;
        color: $color1;
        font-size: 4rem;
        font-weight: normal;
        font-family: 游明朝, "Yu Mincho", YuMincho, serif;
        @media only screen and (max-width: $breakpoint-sp) {
            font-size: 2.6rem;
        }
    }
    .lp_main_desc {
        margin-bottom: $sizeUnit * 20;
        color: $color1;
        font-size: 1.4rem;
        font-weight: normal;
        @media only screen and (max-width: $breakpoint-sp) {
            margin-bottom: $sizeUnit * 20;
        }
    }
    .lp_main_btn {
        width: 300px;
        background: $color2;
        border: none;
        color: #FFF;
        height: 60px;
        font-size: 2rem;
        border-radius: 60px;
        box-shadow: 0px 0px 0px 7px rgba($color2, 0.2);
        display: block;
        margin: 0 auto;
        line-height:60px;
        text-decoration: none;
        @media only screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }
    }
}

.lp_wrap {
    max-width: calc(#{$maxWidth} - #{$sizeUnit * 4});
    margin: 0 auto;
    @media only screen and (max-width: $breakpoint-sp) {
        width: 100%;
        padding: 0 $sizeUnit * 3;
        box-sizing: border-box;
    }
}

.lp_section {
    width: 100%;
    margin-bottom: $sizeUnit * 20;
    p:not(:last-child) {
        margin-bottom: $sizeUnit * 5;
        @media only screen and (max-width :$breakpoint-sp) {
            margin-bottom: $sizeUnit * 3;
        }
    }
    @media only screen and (max-width :$breakpoint-sp) {
        margin-bottom: $sizeUnit * 10;
    }
}

.lp_main_section {
    background: $color6;
    padding: $sizeUnit * 20 0 $sizeUnit * 10;
    @media only screen and (max-width: $breakpoint-sp) {
        padding: $sizeUnit * 10 0 $sizeUnit * 5;
    }
}

.lp_main_function {

    >div {
        display: flex;
        padding: $sizeUnit * 10 0;
        @media only screen and (max-width: $breakpoint-tb) {
            padding: $sizeUnit * 5 $sizeUnit * 2;
        }
        @media only screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            flex-wrap: wrap;
            padding: $sizeUnit * 5 $sizeUnit * 3 $sizeUnit * 5;
            .lp_title2 {
                text-align: center;
            }
        }
        
    }
    .lp_function_desc {
        width: 45%;
        @media only screen and (max-width: $breakpoint-sp) {
            width: 100%;
            margin-bottom: $sizeUnit * 5;
        }

    }
    .lp_function_capture_video {
        background: url(./assets/images/pc.svg) no-repeat center center;
        background-size: 100% auto;
        width: 626px;
        height: 328px;
        box-sizing: border-box;
        position: relative;
        video,img {
            position: absolute;
            top: 23px;
            left: 76px;
            width: 75%;
            height: auto;
        }
        @media only screen and (max-width :$breakpoint-tb) {
            width: 400px;
            height: 230px;
            video,img {
                position: absolute;
                top: 25px;
                left: 49px;
                width: 75%;
                height: auto;
            }
        }
        @media only screen and (max-width :$breakpoint-sp) {
            width: 100%;
            height: auto;
            background: none;
            video,img {
                position: static;
                width: 100%;
                border: 1px solid $color4;
                box-sizing: border-box;
                padding: $sizeUnit;
            }
        }
    }
    .lp_function_capture {
        @media only screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }
    }

    &.bg_light_gray{
        .lp_wrap{
            @media only screen and (max-width: $breakpoint-sp) {
                flex-direction: column-reverse;
            }
        }
    }
}

.lp_function_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $sizeUnit * 2;
    dl {
        text-align: center;
        width: calc((100% - 5% * 3)/4);
        margin-top: $sizeUnit * 5;
        &:not(:nth-child(4n)) {
            margin-right: 5%
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 0;
        }
    }
    dt {
        margin-bottom: $sizeUnit * 2;
        div {
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 80px;
            box-shadow: 0px 0px 5px 3px rgba(#000, 0.1);
            margin-bottom: $sizeUnit * 3;
            img {
                width: 90%;
                padding: 5%;
            }
        }
    }
    dd {
        font-size: 1.4rem;
        text-align: left;
        color: lighten($color3, 20%);
    }
    @media only screen and (max-width :$breakpoint-sp) {
        padding: 0;
        dl {
            width: calc((100% - 5%)/2);
            margin-right: 0 !important;
            &:not(:nth-child(2n)) {
                margin-right: 5% !important;
            }
        }
    }
    
}

.lp_price {
    margin: 0 auto;
    max-width: 624px;
    box-shadow: 0px 0px 5px 3px rgba(#000, 0.1);
    border-radius: $sizeUnit;
    dl {
        display: flex;
        padding: $sizeUnit * 2 $sizeUnit * 4;
        &:not(:last-child) {
            border-bottom: 1px solid $color4;
        }
        dt {
            width: 120px;
            font-weight: bold;
        }
        dd {
            width: 100%;
            p {
                margin-bottom: $sizeUnit !important;
            }
            span {
                font-size: 1.2rem;
            }
        }
    }
}

.lp_contact {
    margin: 0 auto;
    max-width: 624px;
    box-shadow: 0px 0px 5px 3px rgba(#000, 0.1);
    padding: $sizeUnit * 4 $sizeUnit * 8;
    border-radius: $sizeUnit;
    background: rgba($color3, 0.9);
    box-sizing: border-box;
    color: #FFF;
    .lp_contact_desc {
        text-align: center;
        margin-bottom: $sizeUnit * 4;
        @media only screen and (max-width: $breakpoint-sp) {
           display: block;
           p{
               margin-bottom:  $sizeUnit * 2 !important;
           }
        }
    }
    .lp_title1{
        @media only screen and (max-width: $breakpoint-sp) {
            font-size: 1.8rem;
        }
    }

    //hubspotのフォーム
    .hs-form-field{
        margin-bottom: $sizeUnit * 4;
        &:after,
        &:before {
            content: " ";
            display: table;
        }
        &:after{
            clear: both;
        }
        >label{
            width: 40%;
            float: left;
            @media only screen and (max-width: $breakpoint-sp) {
                width: 100%;
                display: block;
                margin-bottom:  $sizeUnit/2;
            }
        }
        .input{
            width: 60%;
            float: left;
            @media only screen and (max-width: $breakpoint-sp) {
                width: 100%;
                display: block;
            }
            input{
                width: 100%;
                height: 30px;
                padding: $sizeUnit/2;
                box-sizing: border-box;
                border-radius: $sizeUnit/2;
            }
            textarea{
                width: 100%;
                height: 100px;
                border-radius: $sizeUnit/2;
            }
            input,textarea{
                border:1px solid $color5;
                padding: $sizeUnit/2;
                box-sizing: border-box;
            }
        }
        .hs-error-msgs{
            display: block;
            clear: both;
            li{
                padding-top: $sizeUnit/2;
                color: lighten($color2,20%);
                font-size:1.2rem; 
                text-align: right;
            }
           
        }
    }

    .hs_error_rollup {
        margin-bottom: $sizeUnit * 2;
        color: lighten($color2,20%);
        font-size:1.2rem; 
        text-align: center;
    }

    .hs-button{
        width: 300px;
        height: 44px;
        border-radius: 44px;
        background: $color2;
        color: #FFF;
        margin: 0 auto;
        border: none;
        display: block;
        cursor: pointer;
        @media only screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }
    }

    .submitted-message{
        background: #FFF;
        padding:  $sizeUnit*2;
        color: $color3;
        border-radius: $sizeUnit*2;
    }

    @media only screen and (max-width: $breakpoint-sp) {
        padding: $sizeUnit * 3;
    }

}

footer {
    background: $color3;
    font-size: 1.2rem;
    color: #FFF;
    padding: $sizeUnit*2;
    text-align: center;
    nav {
        margin-bottom: $sizeUnit;
        li {
            display: inline;
            &:not(:last-child) {
                &::after {
                    content: "|";
                    padding: 0 $sizeUnit;
                }
            }
        }
    }
    a:link,
    a:visited {
        color: #FFF;
        text-decoration: none;
    }
}

.lp_bgbox_1 {
    background: url(./assets/images/img_bg1.png) no-repeat;
    background-size: contain;
    background-position: center $sizeUnit * 5;
    margin-bottom: 0;
    padding: $sizeUnit * 10 0 $sizeUnit * 20;
}

.lp_bgbox_2 {
    background: url(./assets/images/img_bg1.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    margin-bottom: 0;
    padding: $sizeUnit * 10 0 $sizeUnit * 20;

    @media only screen and (max-width: $breakpoint-sp) {
        padding: 0 0 $sizeUnit * 10;
    }
}

.lp_title1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: $sizeUnit * 5;
    @media only screen and (max-width: $breakpoint-sp) {
        font-size: 2.2rem;
        margin-bottom: $sizeUnit * 2;
    }
}

.lp_title2 {
    font-size: 2.4rem;
    margin-bottom: $sizeUnit * 3;
    @media only screen and (max-width :$breakpoint-tb) {
        font-size: 2rem;
    }
    @media only screen and (max-width: $breakpoint-sp) {
        font-size: 1.8rem;
        margin-bottom: $sizeUnit * 2;
    }
}

.lp_text_note {
    color: $color5;
    font-size: 1.2rem;
    &::before {
        content: "※";
    }
}

.lp_desc {
    font-size: 1.6rem;
    text-align: center;
    
}

.lp_color_primary {
    color: $color1;
}

.lp_color_note {
    color: $color2;
}

.margin_b_zero {
    margin-bottom: 0 !important;
}

.bg_light_gray {
    background: $color6;
}

.lp_sp_br{
    @media only screen and (max-width: $breakpoint-sp) {
        display: block;
    }
}

.hide{
    transition: all 500ms 250ms ease-in-out;
    opacity: 0;
    transform: translateY(50px);
}

.show{
    opacity: 1 ;
    transform: translateX(0);
}
a,input[type="submit"]{
   transition: transform 100ms linear;

}
a:hover,
input[type="submit"]:hover{
    transform: scale(1.1);
}