@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import "variables.scss";
@import "mixin.scss";
html {
    font-size: 62.5%;
    width: 100%;
}

body {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.8;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "Yu Gothic", YuGothic, sans-serif;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    color: $color3;
}

ul {
    list-style: none;
}
